<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rust.demo.mapper.arknights.TeamMapper">
  <resultMap id="BaseResultMap" type="com.rust.demo.entity.Team">
    <!--@mbg.generated-->
    <!--@Table t_team-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="power_level" jdbcType="INTEGER" property="powerLevel" />
    <result column="power_name" jdbcType="VARCHAR" property="powerName" />
    <result column="power_code" jdbcType="VARCHAR" property="powerCode" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="is_limited" jdbcType="BOOLEAN" property="isLimited" />
    <result column="is_raw" jdbcType="BOOLEAN" property="isRaw" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_num, power_level, power_name, power_code, color, is_limited, is_raw
  </sql>
</mapper>